.navbar_area{
  position: absolute;
width: 100vw;
height: 87px;
left: -1px;
top: 0px;

background: #FFFFFF;
}
.iitrlogo{
  position: absolute;
width: 3.05vw;
padding-top:100;
left: 8.32vw;
top: 22px;

background: url(image.png);
}
.line{
  position: absolute;
width: 45px;
height: 0px;
left: 10.67vw;
top: 42px;

opacity: 0.2;
border: 1px solid #000000;
transform: rotate(90deg);

}
.dof{
  position: absolute;
width: 6.65vw;
height: 18px;
left: 13.40vw;
top: 25px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #000000;
}
.deptt{
  position: absolute;
width: 18.30vw;
height: 23px;
left: 13.40vw;
top: 40px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

color: #000000;

}
.home{
  position: absolute;
width: 3.05vw;
height: 21px;
left: 46.74vw;
top: 34px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #303030;

}
.about{
  position: absolute;
width: 3.19vw;
height: 21px;
left: 52.63vw;
top: 34px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #303030;
}
.academics{
  position: absolute;
width: 6.03vw;
height: 21px;
left: 58.46vw;
top: 34px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #303030;
}
.research{
  position: absolute;
width: 4.71vw;
height: 21px;
left: 67.1vw;
top: 34px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #303030;

}
.facilities{
  position: absolute;
width: 4.50vw;
height: 21px;
left: 74.61vw;
top: 34px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #303030;

}
.events{
  position: absolute;
width: 3.46vw;
height: 21px;
left: 81.90vw;
top: 34px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #303030;
}
.people{
  position: absolute;
width: 3.53vw;
height: 21px;
left: 88.14vw;
top: 34px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #303030;

}
.res{
  position: absolute;
width: 34.67vw;
padding-top:11.6;
left: 8.32vw;
top: 227px;

/* Heading1 */

font-family: Domaine Display Test;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */


color: #1B2D45;
}
.restext{
  position: absolute;
width: 37.58vw;
padding-top:62.60;
left: 8.32vw;;
top: 309px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 160%;
/* or 32px */


color: #435579;
}
.ab1{
  position: absolute;
width: 40.56vw;
padding-top:79.82;
left: 47.35vw;
top: 174px;

background: url(ayaneshu-bhardwaj-Acx3N9h-QXs-unsplash.jpg);
filter: drop-shadow(20px 20px 60px rgba(27, 45, 69, 0.2));
border-radius: 4px;
}
.rect1{
  position: absolute;
width: 55.40vw;
height:350px;
left: 47.93vw;
top: 245px;

background: #F5FAFF;
}
.g1244{
  position: absolute;
width: 8.44vw;
padding-top:100;;
left: 46.80vw;
top: 547px;
}
.g1245{
  position: absolute;
width: 8.44px;
padding-top:100;
left: 79.49vw;
top: 166px;
}
.arr2class{
  position: absolute;
left: 43.87vw;
top: 801.67px;
bottom: 8.33%;
background: #164E83;
}
.scrollknowmore{
  position: absolute;
width: 10.12vw;
padding-top:14.38;
left: 45.97vw;
top: 800px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */


color: #164E83;

}
.projectheadclass{
  position: absolute;
width: 10.88vw;
padding-top:25.47;
left: 8.32vw;
top: 944px;

/* Heading2 */

font-family: Domaine Display Test;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 100%;
/* identical to box height, or 40px */

letter-spacing: 0.02em;

color: #1B2D45;
}
.projectintroclass{
  position: absolute;
width: 54.23vw;
padding-top:12.27;
left: 8.32vw;
top: 1026px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 160%;
/* or 32px */


color: #435579;

}
.ongproject{
  position: absolute;
width: 17.54vw;
padding-top:15.08;
left: 8.39vw;
top: 1182px;

/* Heading 3 */

font-family: Domaine Display Test;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 120%;
/* or 38px */


color: #1B2D45;
}
.bluebg1{
  position: absolute;
width: 83.21vw;
height: 128px;
left: 8.32vw;
top: 1245px;

background: #F5FAFF;
}
.spons1{
  position: absolute;
width: 11.58vw;
padding-top:10.77;
left: 1.66vw;
top: 24px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: capitalize;

color: #435579;

}
.head1{
  position: absolute;
width: 71.01vw;
padding-top:2.53;
left: 1.66vw;
top: 49px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-transform: capitalize;

color: #1B2D45;

}
.dur1{
  position: absolute;
width: 8.59vw;
padding-top:1.69;
left: 1.66vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-transform: capitalize;

color: #7B88A1;

}
.pt1{
  position: absolute;
width: 0.28vw;
padding-top:1;
left: 10.23vw;
top: 85px;

/*background: #1B2D45;*/
}
.by1{
  position: absolute;
width: 16.15vw;
padding-top:9.41;
left: 12.06vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/*text-transform: lowercase*/

color: #7B88A1;

}
.whitebg1{
  position: absolute;
width: 83.21vw;
height: 128px;
left: 8.32vw;
top: 1373px;

background: #FFFFFF;
}
.spons2{
  position: absolute;
width: 11.58vw;
padding-top:10.77;
left: 1.66vw;
top: 24px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: capitalize;

color: #435579;

}
.head2{
  position: absolute;
width: 71.01vw;
padding-top:2.53;
left: 1.66vw;
top: 49px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-transform: capitalize;

color: #1B2D45;

}
.dur2{
  position: absolute;
width: 8.59vw;
padding-top:1.69;
left: 1.66vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-transform: capitalize;

color: #7B88A1;

}
.pt2{
  position: absolute;
width: 0.28vw;
padding-top:1;
left: 10.23vw;
top: 85px;

/*background: #1B2D45;*/
}
.by2{
  position: absolute;
width: 16.15vw;
padding-top:9.41;
left: 12.06vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/*text-transform: lowercase*/

color: #7B88A1;

}
.whitebg2{
  position: absolute;
width: 83.21vw;
height: 128px;
left: 8.32vw;
top: 1501px;

background: #FFFFFF;
}
.spons3{
  position: absolute;
width: 11.58vw;
padding-top:10.77;
left: 1.66vw;
top: 24px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: capitalize;

color: #435579;

}
.head3{
  position: absolute;
width: 71.01vw;
padding-top:2.53;
left: 1.66vw;
top: 49px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-transform: capitalize;

color: #1B2D45;

}
.dur3{
  position: absolute;
width: 8.59vw;
padding-top:1.69;
left: 1.66vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-transform: capitalize;

color: #7B88A1;

}
.pt3{
  position: absolute;
width: 0.28vw;
padding-top:1;
left: 10.23vw;
top: 85px;

/*background: #1B2D45;*/
}
.by3{
  position: absolute;
width: 16.15vw;
padding-top:9.41;
left: 12.06vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/*text-transform: lowercase*/

color: #7B88A1;

}
.resbox1{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 20px;

position: absolute;
width: 15.53vw;
padding-top:22.32;
left: 8.32vw;
top: 1687px;

border: 1px solid rgba(22, 78, 131, 0.12);
box-sizing: border-box;
border-radius: 4px;
}
.vap1{
  position: static;
width: 12.76vw;
padding-top:14.13;
left: 1.38vw;
top: 12px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #164E83;
}
.compproject{
  position: absolute;
width: 17.54vw;
padding-top:15.01;
left: 8.39vw;
top: 1818px;

/* Heading 3 */

font-family: Domaine Display Test;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 120%;
/* or 38px */


color: #1B2D45;
}
.bluebg2{
  position: absolute;
width: 83.21vw;
height: 128px;
left: 8.32vw;
top: 1884px;

background: #F5FAFF;
}
.spons4{
  position: absolute;
width: 11.58vw;
padding-top:10.77;
left: 1.66vw;
top: 24px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: capitalize;

color: #435579;

}
.head4{
  position: absolute;
width: 71.01vw;
padding-top:2.53;
left: 1.66vw;
top: 49px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-transform: capitalize;

color: #1B2D45;

}
.dur4{
  position: absolute;
width: 8.59vw;
padding-top:1.69;
left: 1.66vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-transform: capitalize;

color: #7B88A1;

}
.pt4{
  position: absolute;
width: 0.28vw;
padding-top:1;
left: 10.23vw;
top: 85px;

/*background: #1B2D45;*/
}
.by4{
  position: absolute;
width: 16.15vw;
padding-top:9.41;
left: 12.06vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/*text-transform: lowercase*/

color: #7B88A1;

}
.whitebg3{
  position: absolute;
width: 83.21vw;
height: 128px;
left: 8.32vw;
top: 2012px;

background: #FFFFFF;
}
.spons5{
  position: absolute;
width: 11.58vw;
padding-top:10.77;
left: 1.66vw;
top: 24px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: capitalize;

color: #435579;

}
.head5{
  position: absolute;
width: 71.01vw;
padding-top:2.53;
left: 1.66vw;
top: 49px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-transform: capitalize;

color: #1B2D45;

}
.dur5{
  position: absolute;
width: 8.59vw;
padding-top:1.69;
left: 1.66vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-transform: capitalize;

color: #7B88A1;

}
.pt5{
  position: absolute;
width: 0.28vw;
padding-top:1;
left: 10.23vw;
top: 85px;

/*background: #1B2D45;*/
}
.by5{
  position: absolute;
width: 16.15vw;
padding-top:9.41;
left: 12.06vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/*text-transform: lowercase*/

color: #7B88A1;

}
.whitebg4{
  position: absolute;
width: 83.21vw;
height: 128px;
left: 8.32vw;
top: 2140px;

background: #FFFFFF;
}
.spons6{
  position: absolute;
width: 11.58vw;
padding-top:10.77;
left: 1.66vw;
top: 24px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: capitalize;

color: #435579;

}
.head6{
  position: absolute;
width: 71.01vw;
padding-top:2.53;
left: 1.66vw;
top: 49px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-transform: capitalize;

color: #1B2D45;

}
.dur6{
  position: absolute;
width: 8.59vw;
padding-top:1.69;
left: 1.66vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* identical to box height */

text-transform: capitalize;

color: #7B88A1;

}
.pt6{
  position: absolute;
width: 0.28vw;
padding-top:1;
left: 10.23vw;
top: 85px;

/*background: #1B2D45;*/
}
.by6{
  position: absolute;
width: 16.15vw;
padding-top:9.41;
left: 12.06vw;
top: 85px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
/* identical to box height */

/*text-transform: lowercase*/

color: #7B88A1;

}
.resbox2{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 20px;

position: absolute;
width: 15.53vw;
padding-top:22.32;
left: 8.32vw;
top: 2328px;

border: 1px solid rgba(22, 78, 131, 0.12);
box-sizing: border-box;
border-radius: 4px;
}
.vap2{
  position: static;
width: 12.76vw;
padding-top:14.13;
left: 1.38vw;
top: 12px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #164E83;
}